<h1>Account Management</h1>
<p>&nbsp;</p>
<form action="#" method="post">
    <div class="control-group">
        <label for='email'>Email</label>
        <input id="email" type="text" name="email" placeholder="Email">
    </div>
    <div class="control-group">
        <label for='password'>Old Password</label>
        <input id="oldpassword" type="password" name="oldpassword" placeholder="Password">
    </div>
    <div class="control-group">
        <label for='password'>New Password</label>
        <input id="newpassword" type="password" name="newpassword" placeholder="Password">
    </div>
    <div class="control-group">
        <button class="btn btn-primary" type="submit">Update Changes</button>
    </div>
</form>